---
import PageContainer from "../components/PageContainer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>rayhan wijaya</title>

        <style>
            body {
                @apply font-mono;
            }
        </style>
    </head>

    <body>
        <PageContainer>
            <h1 class="text-xl text-center font-black">welcome to my page</h1>

            <div class="p-3"></div>

            <section class="py-3">
                <h2 class="text-center font-black">about me</h2>

                <div class="p-3"></div>

                <p class="text-center">
                    hi i'm rayhan. a 13 y\o hobbyist programmer and writer.
                </p>

                <div class="p-3"></div>

                <p class="text-center">
                    i primarily write <b>typescript</b>, some <b>lua</b>,
                    <b>rust</b>, <b>latex</b> and <b>groff\troff</b>. i write in
                    other languages too. i'm having a bit of fun memeing while
                    i'm at it. i also tutor and consult in a legacy react
                    codebase on the side since i want to save for college.
                </p>
            </section>
        </PageContainer>
    </body>
</html>
