---
import PageContainer from "../components/PageContainer.astro";
import Analytics from "../components/Analytics.astro";
import TwitterIcon from "../components/TwitterIcon.astro";
import SuperprofIcon from "../components/SuperprofIcon.astro";
import GithubIcon from "../components/GithubIcon.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="" />
        <title>rayhan-wijaya's web page</title>

        <Analytics />

        <style>
            body {
                @apply font-mono bg-zinc-900 text-white;
            }
        </style>
    </head>

    <body>
        <img
            class="h-24 w-full object-cover"
            src="/background/house.jpg"
            alt="a burnt-down house of an unknown origin"
        />

        <div class="p-2"></div>

        <PageContainer>
            <h1 class="text-xl text-center font-black">rayhan</h1>
        </PageContainer>
    </body>
</html>
