---
import PageContainer from "../components/PageContainer.astro";
import Analytics from "../components/Analytics.astro";
import TwitterIcon from "../components/TwitterIcon.astro";
import GithubIcon from "../components/GithubIcon.astro";
import SuperprofIcon from "../components/SuperprofIcon.astro";
import StarIcon from "../components/StarIcon.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="rayhan wijaya's personal site. here, i showcase mobile-data-tool, base-ui and hmark. i also tutor to save for college."
        />
        <title>rayhan-wijaya's web page</title>

        <Analytics />

        <style>
            body {
                @apply font-mono bg-zinc-900 text-white;
            }
        </style>
    </head>

    <body>
        <img
            class="h-24 w-full object-cover"
            src="/background/house.jpg"
            alt="a burnt-down house of an unknown origin"
        />

        <div class="p-2"></div>

        <PageContainer>
            <h1 class="text-xl text-center font-black">rayhan</h1>

            <section class="py-6">
                <h2 class="text-center font-black">about me</h2>

                <div class="p-3"></div>

                <div class="flex flex-wrap justify-center items-center gap-6">
                    <a
                        class="flex gap-2 items-center underline text-sky-300"
                        href="https://github.com/rayhan-wijaya"
                    >
                        <GithubIcon />
                        <span class="xs:block hidden">Github</span>
                    </a>

                    <a
                        class="flex gap-2 items-center underline text-sky-300"
                        href="https://twitter.com/@react_query"
                    >
                        <TwitterIcon />
                        <span class="xs:block hidden">Twitter</span>
                    </a>

                    <a
                        class="flex gap-2 items-center underline text-sky-300"
                        href="https://www.superprof.co.id/hello-rayhan-will-teach-you-how-build-your-own-website-and-web-application-more-easier-the-end-you-can-build-your-own.html"
                    >
                        <SuperprofIcon />
                        <span class="xs:block hidden">Superprof</span>
                    </a>
                </div>

                <div class="p-3"></div>

                <div class="flex items-center justify-center">
                    <a href="mailto:rayhanwijaya4444@gmail.com">
                        <div
                            class="px-7 py-3 w-full text-center text-white bg-black rounded-lg flex justify-center items-center gap-3 border-b border-gray-600"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                                ></path>
                            </svg>
                            send me mail
                        </div>
                    </a>
                </div>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    hi i'm rayhan. i'm 13, but i intend to live my life to the
                    fullest as i know i won't live forever. so i'll go knowing
                    that i gave it my all.
                </p>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    i'm a self-taught programmer and photographer, and work
                    part-time at a software firm, working on internal tools for
                    them.
                    <a
                        class="underline text-sky-300"
                        href="https://www.superprof.co.id/hello-rayhan-will-teach-you-how-build-your-own-website-and-web-application-more-easier-the-end-you-can-build-your-own.html"
                        >i also tutor and consult</a
                    >
                    in a legacy react codebase on the side since i want to save for
                    college.
                </p>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    i primarily write typescript, some lua, rust, latex and
                    groff\troff. i write in other languages too.
                </p>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    i don't have any other media. if you see an instagram /
                    pinterest / (whatever) account with my name, it's <em
                        >not</em
                    > me.
                </p>

                <div class="p-3"></div>

                <div class="p-3 bg-zinc-800 rounded-lg">
                    <div class="flex gap-3 items-center">
                        <img
                            src="/testimony/monica.webp"
                            class="rounded-lg"
                            width="40"
                            height="40"
                            alt="profile picture of monica"
                        />
                        <p>Monica</p>
                    </div>

                    <div class="p-2"></div>

                    <div class="flex xs:flex-row flex-col gap-2 items-center">
                        <span>5/5</span>

                        <div class="flex">
                            <StarIcon />
                            <StarIcon />
                            <StarIcon />
                            <StarIcon />
                            <StarIcon />
                        </div>
                    </div>

                    <div class="p-2"></div>

                    <p>
                        I first started learning coding. Despite Rayhan still
                        being a school student, he was able to patiently and
                        slowly teach me, who is already 30 years old, until I
                        understood the material, and he always gives praise. His
                        teaching method was engaging and not boring. He also
                        prepared the materials very well. Thanks to him, I
                        became even more interested in coding. A recommended
                        teacher!
                    </p>

                    <div class="p-2"></div>

                    <a
                        href="https://www.superprof.co.id/hello-rayhan-will-teach-you-how-build-your-own-website-and-web-application-more-easier-the-end-you-can-build-your-own.html#:~:text=Saya pertama kali belajar coding."
                    >
                        <div
                            class="px-7 py-3 w-full text-center text-white bg-black rounded-lg flex justify-center items-center gap-3 border-b border-gray-600"
                        >
                            <SuperprofIcon />
                            view testimony
                        </div>
                    </a>
                </div>

                <div class="p-3"></div>

                <p class="text-center">thank you ka', for the kind words</p>
            </section>

            <section class="py-6">
                <h2 class="text-center font-black">my side projects</h2>

                <div class="p-3"></div>

                <div class="flex flex-col gap-10">
                    <div class="p-3 bg-zinc-800 rounded-lg">
                        <div class="flex gap-3">
                            <h3 class="font-black">mobile-data-scraper</h3>

                            <span>
                                <span class="text-sky-300">React.js</span>
                                <span class="text-gray-400">Fastify</span>
                                <span class="text-green-300">Selenium</span>
                                <span class="text-gray-300"> (No SQL ORM)</span>
                            </span>
                        </div>

                        <div class="p-3"></div>

                        <img
                            class="rounded-lg"
                            src="/screenshots/realtime-supplier-price.png"
                            alt="a screenshot of the mobile-data-tool project"
                        />

                        <div class="p-3"></div>

                        <p>
                            an internal tool i made for a software firm that
                            scrapes the realtime prices of mobile data from
                            three vendors and gets the cheapest, most available
                            mobile data. the scraping process utilized a web
                            driver (with Selenium) and product identifiers to
                            label each product which are stored in a separate
                            database such as I10 for Indosat Rp 10 000 and SM50
                            for Smartfren Rp 50 000. these were also used to
                            locate the products in the three vendors. the
                            vendors had different product identifiers for the
                            same product so naturally, every product identifier
                            in the database were different for every supplier.
                        </p>

                        <div class="p-3"></div>

                        <p>
                            since there were no APIs provided by either of the
                            three vendors and the fact that the interactions
                            were user-like, that being the fact that one of the
                            supplier's dashboard page had a captcha image in its
                            login page, i needed to use a web driver instead.
                        </p>

                        <div class="p-3"></div>

                        <div class="h-[1px] w-full bg-gray-500"></div>

                        <div class="p-3"></div>

                        <div class="flex items-center justify-center">
                            <img
                                class="rounded-lg"
                                src="/screenshots/captcha.png"
                                alt="a screenshot of the captcha"
                            />
                        </div>

                        <div class="p-3"></div>

                        <p>
                            for the captcha, i used tesseract.js to recognize
                            the image by screenshotting the image element using
                            the web driver, before appending the base64 stream
                            to a data url, in which can be given to tesseract's
                            recognize() function. this function accepts in a url
                            of course. but since the recognition result isn't
                            perfect, like "8 + 7" being parsed as "8 + T", i
                            created some certain character replacements to patch
                            the end result. in total, there were 29
                            sophisticated character replacements, like T {"->"} 7,
                            & {"->"} 8, Hh {"->"} 5, and more. and i finally used
                            <span class="whitespace-nowrap">expr-eval</span> to evaluate
                            the expression.
                        </p>

                        <div class="p-3"></div>

                        <p>
                            just to give some information on the code a bit: for
                            each supplier, i created an adapter, in spirit of
                            the adapter design pattern, which all implemented
                            getProducts() and getRealtimePrices(). with this, i
                            could easily add new suppliers to the bucket without
                            interfering much with the code. an amount of
                            dependency injection was also used here for passing
                            in a database pool connection but then i quickly
                            moved off of it due to it causing more problems than
                            i initially would've thought.
                        </p>
                    </div>

                    <div class="p-3 bg-zinc-800 rounded-lg">
                        <div class="flex gap-3">
                            <h3 class="font-black">base-ui</h3>
                            <span class="text-sky-300"> Luau</span>
                        </div>

                        <div class="p-3"></div>

                        <p>
                            a simple, extendable UI builder for luau,
                            establishing primitives without bringing in a
                            memory-hogging solution like a virtual dom. as a
                            result of that, base-ui encourages the use of refs.
                        </p>

                        <div class="p-3"></div>

                        <p>
                            it also allows init hooks, allowing you to run
                            events everytime an element\primitive is
                            initialized, allowing modifications to the element.
                            the built-in tailwind integration for base-ui makes
                            use of this feature through its initTailwind()
                            function. so when you call initTailwind, it
                            initializes an init hook that applies the styles you
                            made to an element. but keep in mind that if you
                            don't need tailwind, you can safely delete the
                            integration.
                        </p>

                        <div class="p-3"></div>

                        <p>
                            base-ui also exposes its core library, containing
                            functions like assigning refs given to elements or
                            assigning given props to elements. this allows the
                            ease of tapping into underlying BaseUI stuff for
                            creating custom elements\primitives. it additionally
                            provides helpful utility functions though its
                            utility library like map() or generateCreateRef().
                        </p>

                        <div class="p-3"></div>

                        <p>its syntax:</p>

                        <div class="p-3"></div>

                        <pre
                            class="overflow-x-scroll p-3 bg-zinc-900 rounded-lg">{
`
local player = game.Players.LocalPlayer
local playerGui = player.PlayerGui

local baseUi = game.ReplicatedStorage.Common.BaseUI

local gui = require(baseUi.GUI)
local initTailwind = require(baseUi.OptionalModules.TailwindIntegration)

initTailwind()

local function inventoryItem(props: { itemName: string })
    return (
        gui.frame({ Styles = "w-1/2 h-1/2 Name = "InventoryItem" }, {
            Instance.new("TextLabel"), -- interopt with non-base-ui elements

            gui.textLabel({ Styles = "text-scaled", Name = "InventoryItemName" }, {
                props.itemName, -- text nodes!
            })
        })
    )
end

local screenGui = gui.screenGui({}, {
    inventoryItem({ itemName = "Axe" }),
})

screenGui.Parent = playerGui`}</pre>

                        <div class="p-3"></div>

                        <p>custom tailwind styles are possible too</p>

                        <div class="p-3"></div>

                        <pre
                            class="overflow-x-scroll p-3 bg-zinc-900 rounded-lg">{
`
local baseUi = game.ReplicatedStorage.Common.BaseUI
local tailwindIntegrationTypes = require(baseUi.OptionalModules.TailwindIntegration.Types)

local tailwindConfig = {}

local customStyleMappings = {
    -- Custom style mappings
    -- e.g.
    ["bg-transparent"] = { BackgroundTransparency = 0 },

    -- you can even use functions, which take in the actual
    -- primitive\\element that's being styled! very useful for reading
    -- a value from the element
    --
    -- an example for this use case would be UDim2-related styles
    -- since you can't directly mutate the value of a UDim2 but instead
    -- create a new UDim2 value from the existing values.
    --
    -- e.g.
    ["w-full"] = {
        Size = function (guiItem: baseUiTypes.GuiItem)
            return UDim2.new(1, guiItem.Size.X.Offset, guiItem.Size.Y.Scale, guiItem.Size.Y.Offset)
        end
    },
    ["w-1/2"] = {
        Size = function (guiItem: baseUiTypes.GuiItem)
            return UDim2.new(1/2, guiItem.Size.X.Offset, guiItem.Size.Y.Scale, guiItem.Size.Y.Offset)
        end
    },
}

tailwindConfig.customStyleMappings = customStyleMappings
return tailwindConfig
`}</pre>

                        <div class="p-3"></div>

                        <p>
                            and here's how you can register an init hook that
                            applies tailwind styles to an element. in base-ui.
                            the example provided here is, of course, the
                            initTailwind() function provided by the tailwind
                            integration.
                        </p>

                        <div class="p-3"></div>

                        <pre
                            class="overflow-x-scroll p-3 bg-zinc-900 rounded-lg">{
`
local applyStylesModule = require(script.Parent.ApplyStyles)
local applyStylesToGuiItem = applyStylesModule.applyStylesToGuiItem

local guiInitHooksModule = require(script.Parent.Parent.Parent.GUIInitHooks)
local registerInitHook = guiInitHooksModule.registerInitHook

local init = function ()
    registerInitHook(function (guiItem, props)
        applyStylesToGuiItem(props.Styles, guiItem)
    end)
end

return init
`}</pre>

                        <div class="p-3"></div>

                        <p>
                            i spent a bit of time on this project, mostly on the
                            tailwind integration. i need to work on refactoring
                            the code of base-ui and adding additional elements
                            to fully release it and get it out of its prototype
                            stage. so i hope you found it interesting.
                        </p>

                        <div class="p-3"></div>

                        <a href="https://github.com/rayhan-wijaya/base-ui">
                            <div
                                class="px-7 py-3 w-full text-center text-white bg-black rounded-lg flex justify-center items-center gap-3 border-b border-gray-600"
                            >
                                <GithubIcon />
                                base-ui on github
                            </div>
                        </a>
                    </div>

                    <div class="p-3 bg-zinc-800 rounded-lg">
                        <div class="flex gap-3">
                            <h3 class="font-black">hmark</h3>
                            <span class="text-orange-300"> Rust</span>
                        </div>

                        <div class="p-3"></div>

                        <p>
                            a straightforward crytographic bookmarking utility
                            that can encrypt\decrypt bookmarks with "password
                            keys", which are inputted by the user. you can have
                            private bookmarks with this and view your bookmarks
                            in your default browser using `view` with the web
                            flag `-w`.
                        </p>

                        <div class="p-3"></div>

                        <pre
                            class="overflow-x-scroll p-3 bg-zinc-900 rounded-lg">{
`
$ hmark set -k gitlab_home -u https://gitlab.com
$ hmark set -k hmark       -u https://github.com/rayhan-wijaya/hmark

$ hmark view gitlab_home
https://gitlab.com

$ hmark view -w gitlab_home
(browser session)

$ hmark list
hmark
gitlab_home

$ hmark rm gitlab_home hmark
`}</pre>

                        <div class="p-3"></div>

                        <p>
                            bookmarks you create will be stored in the
                            ~\.hmark\bookmarks folder underneath hmark's
                            dotfolder, where tilde, is of course, your home
                            directory.
                        </p>

                        <div class="p-3"></div>

                        <p>
                            an exemplary bookmarks folder would be outlined
                            like:
                        </p>

                        <div class="p-3"></div>

                        <pre
                            class="overflow-x-scroll p-3 bg-zinc-900 rounded-lg">{
`
* ~/.hmark/bookmarks/
    |  ffmpeg_docs  -> https://ffmpeg.org/ffmpeg.html/
    |  diesel_docs  -> https://docs.rs/diesel/latest/diesel/
    |  a_cool_tweet -> https://twitter.com/Neovim/status/1671419524854210560/
`}</pre>

                        <div class="p-3"></div>

                        <a href="https://github.com/rayhan-wijaya/hmark">
                            <div
                                class="px-7 py-3 w-full text-center text-white bg-black rounded-lg flex justify-center items-center gap-3 border-b border-gray-600"
                            >
                                <GithubIcon />
                                hmark on github
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section class="py-6">
                <h2 class="text-center font-black">
                    my software recommendations
                </h2>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    even if i claim i work on bloatware, i don't and would never
                    seriously recommend a bloatware of any shape to anyone.
                    unless i have no grudge against the other party, i might
                    recommend Adobe Reader to them, knowing that they'll have a
                    bad time. actually forget that. in fact, that applies to
                    every single adobe product.
                </p>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    that being said, here are my general recommendations:
                </p>

                <div class="p-3"></div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <div class="flex gap-3">
                        <a
                            class="underline text-sky-300"
                            href="https://dwm.suckless.org/">dwm</a
                        >
                        /
                        <a
                            class="underline text-sky-300"
                            href="https://github.com/koekeishiya/yabai">yabai</a
                        >
                        /
                        <a
                            class="underline text-sky-300"
                            href="https://github.com/fuhsjr00/bug.n">bug.n</a
                        >
                    </div>
                    <div class="flex gap-3">
                        <a
                            class="underline text-sky-300"
                            href="https://neovim.io">neovim</a
                        >
                        /
                        <a
                            class="underline text-sky-300"
                            href="https://www.vim.org/">vim</a
                        >
                    </div>
                    <div class="flex gap-3">
                        <a
                            class="underline text-sky-300"
                            href="https://dystroy.org/broot/">broot</a
                        >
                        /
                        <a
                            class="underline text-sky-300"
                            href="https://github.com/jarun/nnn">nnn</a
                        >
                    </div>
                    <div class="flex gap-3">
                        <a
                            class="underline text-sky-300"
                            href="https://mupdf.com/index.html">mupdf</a
                        >
                        /
                        <a
                            class="underline text-sky-300"
                            href="https://pwmt.org/projects/zathura/">zathura</a
                        >
                    </div>
                    <div class="flex gap-3">
                        <a
                            class="underline text-sky-300"
                            href="https://github.com/brookhong/Surfingkeys"
                            >surfingkeys</a
                        >
                        <em>not</em> vimium
                    </div>
                    <div class="flex gap-3">
                        <a
                            class="underline text-sky-300"
                            href="https://www.mercurial-scm.org/">mercurial</a
                        >
                        <em>not</em> git
                    </div>
                </div>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    some of these may not be available in your OS; find an
                    alternative which may be listed here. as an example, since
                    dwm is only for X windowing systems like twm or xcfe, you
                    can use yabai if you're in macOS, or bug.n if you're in
                    windows.
                </p>

                <div class="p-3"></div>

                <div class="flex items-center justify-center">
                    <img src="/meme/what-vscode-users-have-to-endure.webp" />
                </div>
            </section>

            <section class="py-6">
                <h2 class="text-center font-black">my gallery</h2>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    i have photography as a side hobby. i like to make my photos
                    scenic and impactful, as if they originated from a movie.
                    but definitely, they're not that good to be in a movie. but
                    i love these to bits :')
                </p>

                <div class="p-3"></div>

                <p class="xs:text-center text-left">
                    i took most of these during a past trip just by using my
                    mom's samsung phone.
                </p>

                <div class="p-3"></div>

                <div class="flex flex-col gap-3">
                    <img
                        class="object-contain w-full"
                        src="/background/house.jpg"
                        alt="a burnt-down house of an unkown origin"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/iptek-front.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/iptek-main.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/bird-garden-entrance.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/bird-garden-main.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/plane.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/train.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/vehicle-museum-entrance.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/castle.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/bird-garden-dome.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/bird-garden-peering-over-the-distance.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/bird.jpg"
                    />

                    <img
                        class="object-contain w-full"
                        src="/background/it-is-closing-in-on-us.jpg"
                    />
                </div>
            </section>

            <div class="flex items-center justify-center">
                <img class="h-40" src="/white-handwriting.png" />
            </div>

            <div class="p-2"></div>

            <p class="text-center">Sincerely, <br /> Rayhan Wijaya</p>
        </PageContainer>

        <div class="p-2"></div>

        <img
            class="w-full object-cover object-center"
            src="/background/bird.jpg"
        />
    </body>
</html>
