---
import PageContainer from "../components/PageContainer.astro";
import Analytics from "../components/Analytics.astro";
import TwitterIcon from "../components/TwitterIcon.astro";
import SuperprofIcon from "../components/SuperprofIcon.astro";
import GithubIcon from "../components/GithubIcon.astro";
import StarIcon from "../components/StarIcon.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="" />
        <title>rayhan-wijaya's web page</title>

        <Analytics />

        <style>
            body {
                @apply font-mono bg-zinc-900 text-white;
            }

            *::selection {
                @apply bg-gray-600 text-white;
            }

            *::-moz-selection {
                @apply bg-gray-600 text-white;
            }

            *::-webkit-selection {
                @apply bg-gray-600 text-white;
            }
        </style>
    </head>

    <body>
        <PageContainer>
            <h1 class="text-xl text-center font-black">rayhan&mdash;wijaya</h1>

            <div class="p-2"></div>

            <div class="mx-auto w-fit">
                <div
                    class="inline-flex flex-wrap items-center justify-center gap-x-3"
                >
                    <a
                        aria-label="Github social link"
                        title="Github"
                        class="py-3 px-5 bg-black rounded-lg hover:text-gray-200 hover:border-gray-200 hover:bg-gray-800 border-gray-700 border-b-2 transition-all"
                        href="https://github.com/rayhan-wijaya"
                    >
                        <GithubIcon />
                    </a>

                    <a
                        aria-label="Twitter social link"
                        title="Twitter"
                        class="py-3 px-5 bg-black rounded-lg hover:text-sky-200 hover:border-sky-300 hover:bg-sky-950 border-gray-700 border-b-2 transition-all"
                        href="https://twitter.com/@react_query"
                    >
                        <TwitterIcon />
                    </a>

                    <a
                        aria-label="Superprof social link"
                        title="Superprof"
                        class="py-3 px-5 bg-black rounded-lg hover:text-rose-200 hover:border-rose-100 hover:bg-rose-950 border-gray-700 border-b-2 transition-all"
                        href="https://www.superprof.co.id/hello-rayhan-will-teach-you-how-build-your-own-website-and-web-application-more-easier-the-end-you-can-build-your-own.html"
                    >
                        <SuperprofIcon />
                    </a>

                    <a
                        aria-label="Email link"
                        title="Email"
                        class="py-3 px-5 bg-black rounded-lg hover:text-amber-200 hover:border-amber-100 hover:bg-amber-950 border-gray-700 border-b-2 transition-all"
                        href="mailto:rayhanwijaya4444@gmail.com"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="w-6 h-6"
                        >
                            <path
                                d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                            ></path>
                            <path
                                d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="p-2"></div>

            <section>
                <a
                    href="https://www.superprof.co.id/hello-rayhan-will-teach-you-how-build-your-own-website-and-web-application-more-easier-the-end-you-can-build-your-own.html#:~:text=Saya pertama kali belajar coding."
                    class="text-sky-300 inline-flex items-center gap-2"
                >
                    <h2 id="testimony" class="text-sky-300 underline text-md">
                        Testimony
                    </h2>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-5 h-5"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>

                <hr />

                <div class="p-5"></div>

                <blockquote class="px-5 rounded-lg">
                    <p class="italic">
                        "I first started learning coding. Despite Rayhan still
                        being a school student, he was able to patiently and
                        slowly teach me, who is already 30 years old, until I
                        understood the material, and he always gives praise."
                    </p>

                    <div class="p-2"></div>

                    <p class="italic">
                        "His teaching method was engaging and not boring. He
                        also prepared the materials very well. Thanks to him, I
                        became even more interested in coding. A recommended
                        teacher!"
                    </p>

                    <div class="p-2"></div>

                    <div class="flex items-center justify-center gap-3">
                        <img
                            class="w-10 h-10 rounded-lg"
                            src="/testimony/monica.webp"
                        />

                        <span>Monica</span>
                    </div>

                    <div class="p-4"></div>

                    <div class="flex items-center justify-center gap-2">
                        <StarIcon />
                        <StarIcon />
                        <StarIcon />
                        <StarIcon />
                        <StarIcon />
                    </div>

                    <div class="p-1"></div>

                    <span class="block text-center text-gray-300">(5/5)</span>
                </blockquote>
            </section>

            <div class="p-2"></div>

            <section>
                <h2 id="projects" class="text-md">Projects</h2>

                <hr />

                <div class="p-5"></div>
            </section>

            <div class="p-2"></div>

            <section>
                <h2 id="photography" class="text-md">Photography</h2>

                <hr />

                <div class="p-5"></div>

                <div
                    class="xs:grid xs:grid-cols-3 flex flex-col gap-3 rounded-lg overflow-hidden"
                >
                    <a
                        class="xs:col-span-2 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/it-is-closing-in-on-us.jpg"
                    >
                        <img
                            class="xs:h-44 w-full object-cover object-bottom"
                            src="/background/it-is-closing-in-on-us.jpg"
                        />
                    </a>

                    <a
                        class="hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/train.jpg"
                    >
                        <img
                            class="xs:h-44 w-full object-cover"
                            src="/background/train.jpg"
                        />
                    </a>

                    <a
                        class="hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/vehicle-museum-entrance.jpg"
                    >
                        <img
                            class="xs:h-64 object-cover w-full"
                            src="/background/vehicle-museum-entrance.jpg"
                        />
                    </a>

                    <a
                        class="col-span-2 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/plane.jpg"
                    >
                        <img
                            class="xs:h-64 object-cover w-full"
                            src="/background/plane.jpg"
                        />
                    </a>

                    <a
                        class="col-span-3 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/residence-main.jpg"
                    >
                        <img
                            class="xs:h-44 object-cover w-full object-top"
                            src="/background/residence-main.jpg"
                        />
                    </a>

                    <a
                        class="col-span-2 row-span-2 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/house.jpg"
                    >
                        <img
                            class="xs:h-full object-cover w-full"
                            src="/background/house.jpg"
                        />
                    </a>

                    <a
                        class="hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/iptek-main.jpg"
                    >
                        <img
                            class="xs:h-44 object-cover w-full object-top"
                            src="/background/iptek-main.jpg"
                        />
                    </a>

                    <a
                        class="start-2 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/iptek-front.jpg"
                    >
                        <img
                            class="xs:h-44 object-cover w-full object-top"
                            src="/background/iptek-front.jpg"
                        />
                    </a>

                    <a
                        class="hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/bird.jpg"
                    >
                        <img
                            class="xs:h-64 object-cover w-full object-top"
                            src="/background/bird.jpg"
                        />
                    </a>

                    <a
                        class="start-1 col-span-2 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/bird-garden-entrance.jpg"
                    >
                        <img
                            class="xs:h-64 object-cover w-full object-top"
                            src="/background/bird-garden-entrance.jpg"
                        />
                    </a>

                    <a
                        class="col-span-3 hover:opacity-70 transition-opacity cursor-zoom-in"
                        href="/background/bird-garden-main.jpg"
                    >
                        <img
                            class="object-cover w-full object-top"
                            src="/background/bird-garden-main.jpg"
                        />
                    </a>
                </div>
            </section>
        </PageContainer>
    </body>
</html>
