---
import PageContainer from "../components/PageContainer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>rayhan wijaya</title>

        <style>
            body {
                @apply font-mono;
            }
        </style>
    </head>

    <body>
        <PageContainer>
            <h1 class="text-xl text-center font-black">welcome to my page. i'm rayhan wijaya</h1>

            <div class="p-3"></div>

            <section class="py-3">
                <h2 class="text-center font-black">about me</h2>

                <div class="p-3"></div>

                <p class="text-center">
                    hi i'm rayhan. a 13 y\o hobbyist programmer, writer, and
                    neovim advocate. i love what i do, so i just... can't... stop..!
                </p>

                <div class="p-3"></div>

                <p class="text-center">
                    i primarily write <b>typescript</b>, some <b>lua</b>,
                    <b>rust</b>, <b>latex</b> and <b>groff\troff</b>. i write in
                    other languages too. i'm having a bit of fun memeing while
                    i'm at it. i also tutor and consult in a legacy react
                    codebase on the side since i want to save for college.
                </p>
            </section>

            <section class="py-3">
                <h2 class="text-center font-black">
                    my side <i>proe</i>-jects
                </h2>

                <div class="p-3"></div>

                <div class="flex flex-col gap-6">
                    <div class="p-3 bg-zinc-800">
                        <div class="flex gap-3">
                            <h3 class="font-black">base-ui</h3>
                            <span class="text-sky-300">Luau</span>
                        </div>

                        <div class="p-3"></div>

                        <p>
                            a simple, extendable UI builder for luau,
                            establishing primitives without bringing in a
                            memory-hogging solution like a virtual dom. as a
                            result of that, base-ui encourages the use of refs.
                        </p>

                        <div class="p-3"></div>

                        <p>
                            it also allows init hooks, allowing you to run
                            events everytime an element/primitive is
                            initialized, allowing modifications to the element.
                            the built-in tailwind module for base-ui makes use
                            of this feature.
                        </p>

                        <div class="p-3"></div>

                        <p>its syntax:</p>

                        <div class="p-3"></div>

                        <pre
                            class="overflow-y-scroll p-3 bg-zinc-900">{
`
local player = game.Players.LocalPlayer
local playerGui = player.PlayerGui

local baseUi = game.ReplicatedStorage.Common.BaseUI

local gui = require(baseUi.GUI)
local initTailwind = require(baseUi.OptionalModules.TailwindIntegration)

initTailwind()

local function inventoryItem(props: { itemName: string })
    return (
        gui.frame({ Styles = "w-1/2 h-1/2 bg-red-300", Name = "InventoryItem" }, {
            Instance.new("TextLabel"), -- interopt with non-base-ui elements

            gui.textLabel({ Styles = "text-scaled", Name = "InventoryItemName" }, {
                props.itemName, -- text nodes!
            })
        })
    )
end

local screenGui = gui.screenGui({}, {
    inventoryItem({ itemName = "Axe" }),
})

screenGui.Parent = playerGui`}</pre>

                        <div class="p-3"></div>

                        custom tailwind styles are possible too

                        <div class="p-3"></div>

                        <pre
                            class="overflow-y-scroll p-3 bg-zinc-900">{
`
local baseUi = game.ReplicatedStorage.Common.BaseUI
local tailwindIntegrationTypes = require(baseUi.OptionalModules.TailwindIntegration.Types)

local tailwindConfig = {}

local customStyleMappings = {
    -- Custom style mappings
    -- e.g.
    ["bg-transparent"] = { BackgroundTransparency = 0 },

    -- you can even use functions, which take in the actual
    -- primitive/element that's being styled! very useful for reading
    -- a value from the element
    --
    -- an example for this use case would be UDim2-related styles
    -- since you can't directly mutate the value of a UDim2 but instead
    -- create a new UDim2 value from the existing values.
    --
    -- e.g.
    ["w-full"] = {
        Size = function (guiItem: baseUiTypes.GuiItem)
            return UDim2.new(1, guiItem.Size.X.Offset, guiItem.Size.Y.Scale, guiItem.Size.Y.Offset)
        end
    },
    ["w-1/2"] = {
        Size = function (guiItem: baseUiTypes.GuiItem)
            return UDim2.new(1/2, guiItem.Size.X.Offset, guiItem.Size.Y.Scale, guiItem.Size.Y.Offset)
        end
    },
}

tailwindConfig.customStyleMappings = customStyleMappings
return tailwindConfig
`}</pre>

                        <div class="p-3"></div>

                        i spent a bit of time on this project, mostly on the
                        tailwind module. so i hope you found it interesting.

                        <div class="p-3"></div>

                        <a href="https://github.com/rayhan-wijaya/base-ui">
                            <div class="p-3 w-full text-center bg-black">
                                base-ui on github
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </PageContainer>
    </body>
</html>
