---
import GithubIcon from "../components/GithubIcon.astro";
---

<div class="rounded-lg bg-zinc-800 border border-gray-500">
    <a class="hover:cursor-zoom-in" href="/screenshots/mobile-data-transaction.png">
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/mobile-data-transaction.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex gap-3 items-center">
            <h3 class="whitespace-nowrap">mobile-data-transaction</h3>
            <div title="Private project">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 fill-red-400"
                >
                    <path
                        fill-rule="evenodd"
                        d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z"
                        clip-rule="evenodd">
                    </path>

                    <path d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">htmx</span>
            <span class="rounded-full px-3 bg-gray-700">golang</span>
            <span class="rounded-full px-3 bg-gray-700">wkhtmltopdf</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            Get an overview of transactions by comparing price differences from
            two sources, the supplier's realtime price, and a selling system
            with fixed prices. Including other "views" to see transactions in
            greater detail with the ability to export as a PDF.
        </p>
    </div>
</div>

<div class="rounded-lg bg-zinc-800 border border-gray-500">
    <a
        class="hover:cursor-zoom-in"
        href="/screenshots/mobile-data-scraper.png"
    >
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/mobile-data-scraper.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex gap-3 items-center">
            <h3 class="whitespace-nowrap">
                mobile-data-scraper
            </h3>
            <div title="Private project">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 fill-red-400"
                >
                    <path
                        fill-rule="evenodd"
                        d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z"
                        clip-rule="evenodd"
                    >
                    </path>

                    <path
                        d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">react</span>
            <span class="rounded-full px-3 bg-gray-700">fastify</span>
            <span class="rounded-full px-3 bg-gray-700">selenium</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            Scrape the realtime prices of mobile data from three suppliers, and
            export to XLSX as an "internal" or "external" spreadsheet. This
            data is obtained from the supplier's dashboards.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            All with a responsive UI and scrollable table with a sticky header
            and red/green indicators on the price.
        </p>
    </div>
</div>

<div class="rounded-lg bg-zinc-800 border col-span-2 border-gray-500">
    <a class="hover:cursor-zoom-in" href="/screenshots/bear.png">
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/bear.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <h3 class="whitespace-nowrap">"Saving Money" Animation</h3>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">blender</span>
            <span class="rounded-full px-3 bg-gray-700">cycles</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            This side animation I made helped my group reach first place in a
            journal-making competition in Southeast Asia, competing with other
            countries like Vietnam, Singapore and the Philippines.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            I'll provide a link to the animation when I'm done working on a
            blob storage server, so kindly wait. :)
        </p>
    </div>
</div>

<div
    class="rounded-lg bg-zinc-800 border border-gray-500 col-span-2 overflow-hidden"
>
    <div class="flex max-h-64 overflow-hidden">
        <a class="hover:cursor-zoom-in" href="/screenshots/school-voting.png">
            <img
                class="hover:opacity-70 transition-opacity"
                src="/screenshots/school-voting.png"
            />
        </a>

        <a class="hover:cursor-zoom-in" href="/screenshots/school-voting-dashboard.png">
            <img
                class="hover:opacity-70 transition-opacity"
                src="/screenshots/school-voting-dashboard.png"
            />
        </a>
    </div>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex items-center gap-3">
            <h3>voting-app</h3>

            <a
                class="text-sky-300 underline flex gap-2 items-center"
                href="https://github.com/rayhan-wijaya/voting-app"
                aria-label="Github repo of voting-app"
            >
                <GithubIcon />
            </a>
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">next.js</span>
            <span class="rounded-full px-3 bg-gray-700">react-query</span>
            <span class="rounded-full px-3 bg-gray-700">fastify</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            Vote for the new leaders of a student council organization,
            intended for my school's campaign. Eventually, well over 300
            students partaked. This project also includes a simple CDN for
            serving images.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            This project has been created a long time ago, and I prefer serving
            generated pages over a server now.
        </p>
    </div>
</div>
