---
import GithubIcon from "../components/GithubIcon.astro";
---

<div class="rounded-lg bg-zinc-800 border border-gray-500 col-span-2">
    <a class="hover:cursor-zoom-in" href="/screenshots/mobile-data-scraper-json.png">
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/mobile-data-scraper-json.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex gap-3 items-center">
            <h3 class="whitespace-nowrap">mobile-data-scraper</h3>
            <div title="Private project">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 fill-red-400"
                >
                    <path
                        fill-rule="evenodd"
                        d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z"
                        clip-rule="evenodd">
                    </path>

                    <path d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">selenium</span>
            <span class="rounded-full px-3 bg-gray-700">fastify</span>
            <span class="rounded-full px-3 bg-gray-700">node.js</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            A backend service for a company I help that scrapes mobile data
            realtime prices from suppliers in a configurable manner by parsing
            and using a JSON config, and finally putting the prices to display
            in an internal selling system, which the company currently uses.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            The configuration describes the pages of a supplier's dashboard for
            the service to scrape. Along with an optional condition that
            denotes whether each page is finished loading, and credentials for
            the login page. For each element, they are described by a list of
            query selectors that can even fallback to the next selector in the
            list if the first one fails.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            If you're interested in the technical details, I'll create a blog
            post discussing about this shortly!
        </p>
    </div>
</div>

<div class="rounded-lg bg-zinc-800 border border-gray-500">
    <a class="hover:cursor-zoom-in" href="/screenshots/mobile-data-transaction.png">
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/mobile-data-transaction.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex gap-3 items-center">
            <h3 class="whitespace-nowrap">mobile-data-transaction</h3>
            <div title="Private project">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 fill-red-400"
                >
                    <path
                        fill-rule="evenodd"
                        d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z"
                        clip-rule="evenodd">
                    </path>

                    <path d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">htmx</span>
            <span class="rounded-full px-3 bg-gray-700">golang</span>
            <span class="rounded-full px-3 bg-gray-700">wkhtmltopdf</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            Get an overview of transactions by comparing price differences from
            two sources, the supplier's realtime price, and a selling system
            with fixed prices. Including other "views" to see transactions in
            greater detail with the ability to export as a PDF.
        </p>
    </div>
</div>

<div class="rounded-lg bg-zinc-800 border border-gray-500">
    <a
        class="hover:cursor-zoom-in"
        href="/screenshots/mobile-data-scraper.png"
    >
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/mobile-data-scraper.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex gap-3 items-center">
            <h3 class="whitespace-nowrap">mobile-data-scraper (2)</h3>
            <div title="Private project">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 fill-red-400"
                >
                    <path
                        fill-rule="evenodd"
                        d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z"
                        clip-rule="evenodd"
                    >
                    </path>

                    <path
                        d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">selenium</span>
            <span class="rounded-full px-3 bg-gray-700">fastify</span>
            <span class="rounded-full px-3 bg-gray-700">react</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            Scrape the realtime prices of mobile data from three suppliers, and
            export to XLSX as an "internal" or "external" spreadsheet. This
            data is obtained from the supplier's dashboards.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            All with a responsive UI and scrollable table with a sticky header
            and red/green indicators on the price.
        </p>
    </div>
</div>

<div class="rounded-lg bg-zinc-800 border col-span-2 border-gray-500">
    <a class="hover:cursor-zoom-in" href="/screenshots/bear.png">
        <img
            class="rounded-t-lg hover:opacity-70 transition-opacity"
            src="/screenshots/bear.png"
        />
    </a>

    <hr class="border-gray-500" />

    <div class="p-3">
        <h3 class="whitespace-nowrap">"Saving Money" Animation</h3>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">blender</span>
            <span class="rounded-full px-3 bg-gray-700">cycles</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            This side animation I made helped my group reach first place in a
            journal-making competition in Southeast Asia, competing with other
            countries like Vietnam, Singapore and the Philippines.
        </p>

        <div class="p-2"></div>

        <a
            class="text-sky-300 underline inline-flex gap-2 items-center"
            href="https://drive.google.com/file/d/1gA7r1X-g3MPA1dFaY2vNTFNx5WxTZoCZ/view?usp=sharing"
        >
            Play Animation

            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5"
            >
                <path
                    fill-rule="evenodd"
                    d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>

<div
    class="rounded-lg bg-zinc-800 border border-gray-500 col-span-2 overflow-hidden"
>
    <div class="flex max-h-64 overflow-hidden">
        <a class="hover:cursor-zoom-in" href="/screenshots/school-voting.png">
            <img
                class="hover:opacity-70 transition-opacity"
                src="/screenshots/school-voting.png"
            />
        </a>

        <a class="hover:cursor-zoom-in" href="/screenshots/school-voting-dashboard.png">
            <img
                class="hover:opacity-70 transition-opacity"
                src="/screenshots/school-voting-dashboard.png"
            />
        </a>
    </div>

    <hr class="border-gray-500" />

    <div class="p-3">
        <div class="flex items-center gap-3">
            <h3>voting-app</h3>

            <GithubIcon />
        </div>

        <div class="p-2"></div>

        <div class="flex flex-wrap gap-3">
            <span class="rounded-full px-3 bg-gray-700">next.js</span>
            <span class="rounded-full px-3 bg-gray-700">react-query</span>
            <span class="rounded-full px-3 bg-gray-700">fastify</span>
        </div>

        <div class="p-2"></div>

        <p class="text-gray-400">
            Vote for the new leaders of a student council organization,
            intended for my school's campaign. Eventually, well over 300
            students partaked. This project also includes a simple CDN for
            serving images.
        </p>

        <div class="p-2"></div>

        <p class="text-gray-400">
            This project has been created a long time ago, and I prefer serving
            generated pages over a server now.
        </p>

        <div class="p-2"></div>

        <a
            class="text-sky-300 underline inline-flex gap-2 items-center"
            href="https://github.com/rayhan-wijaya/voting-app"
        >
            View Github Repo

            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5"
            >
                <path
                    fill-rule="evenodd"
                    d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>
